<!-- <div class="container">
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <button color="warn" mat-raised-button>CLick</button>
  <button color="accent" mat-flat-button>CLick</button>
  <button mat-stroked-button>CLick</button>
</div> -->
<!-- <mat-icon>circle</mat-icon> -->
 <!-- <div>
  <span matBadge="4" matBadgePosition="below before">Notification</span>
  <span matBadge="4" matBadgePosition="below after">Notification</span>
  <span matBadge="4" matBadgePosition="above before">Notification</span>
 </div> -->

 <!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>
 <button (click)="loadData()">LoadData</button> -->

 <mat-toolbar color="primary" class="navbar">
  <div>
    <h3>Code</h3>
  </div>
  <div>
    <span>Home</span>
    <span>Services</span>
    <span>About</span>
  </div>
  
 </mat-toolbar>
 <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">SideNav
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>Main
      <button (click)="opened =!opened">Click</button>
      <!-- <div class="menu">
        <mat-menu #appMenu="matMenu">
        <button mat-menu-item [mat-menu-trigger-for]="subMenu">Deserts</button>
        <button mat-menu-item>Deserts</button>
        <button mat-menu-item>Deserts</button>
        </mat-menu>
        <button [mat-menu-trigger-for] = "appMenu">Show Menu</button>
      </div>
      <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Pina Gulata</button>
        <button mat-menu-item>Mint Margerita</button>
      </mat-menu> -->
      <!-- <app-grid></app-grid> -->
       <app-tabs></app-tabs>
    </mat-sidenav-content>
 </mat-sidenav-container>


 <router-outlet></router-outlet>